*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 670px;
    flex-wrap: wrap;
}
.square{
    width: 19px;
    height: 20px;
    background: rgb(36, 36, 36);
    margin: 2px;
    transition: 2s ease;
}
.square:hover{
    transition-duration: 0s;
}